data/
old_data/
*.png
*.csv
*.pth
plots/
experiments/
GeneSCF/
*.ipynb
plots/
demo.py
demo_v2.py
check_overlap.py
.vscode/
## src
src/analyze_age_matrix_2.py
src/ctrr.py
src/demo.py
src/extract_file.py
src/extract_file_combined.py
src/simsias_models.py
src/table.py
## scripts
scripts/train4.bat
scripts/train3.py
